@import '../../styles/breakpoints.scss';
@import '../../styles/reset.scss';
@import '../../styles/global.scss';


.about {
    &__section {
        margin-top: 100px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        padding: 10px 15px;
    }

    &__title {
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__title-info {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    &__li {
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__img {
        max-width: 90%;
        margin: 0 auto 20px;
    }

    @media (min-width: $tablet) {


        &__container {
            margin-top: 60px;
            padding: 10px 25px;
        }

        &__title-info {
            font-size: 22px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 20px;
            margin-bottom: 60px;
        }

        &__subtitle {
            font-size: 24px;
            margin-bottom: 40px;
        }

        &__li {
            margin-bottom: 20px;
        }

        &__img {
            margin-bottom: 35px;
        }
    }

    @media (min-width: $tablet) {
        &__section {
            margin-top: 140px;
        }

        &__container {
            max-width: 800px;
        }

        &__title {
            text-align: center;
        }

        &__title-info {
            text-align: center;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 22px;
        }

        &__subtitle {
            text-align: center;
            font-size: 24px;
            margin-bottom: 40px;
        }
    }
}