@import '../../styles/breakpoints.scss';
@import '../../styles/reset.scss';
@import '../../styles/global.scss';

.privacy {
    &__section {
        margin-top: 110px;
        margin-bottom: 40px;
    }

    &__container {
        padding: 10px 20px;
    }

    &__title {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__subtitle {
        margin-bottom: 15px;
        font-weight: 400;
    }

    &__ul-item {
        margin-bottom: 10px;
    }

    @media (min-width: $tablet) {

        &__section {
            margin-bottom: 60px;
        }

        &__container {
            max-width: 500px;
            margin: 0 auto;
        }

        &__title {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 50px;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__subtitle {
            margin-bottom: 25px;

        }

        &__ul-item {
            margin-bottom: 20px;
        }

    }


    @media (min-width: $desktop) {
        &__section {
            margin-top: 140px;
            margin-bottom: 40px;
        }

        &__container {
            max-width: 600px;
        }

        &__title {
            text-align: center;
            font-size: 30px;
            margin-bottom: 60px;
        }

        &__text {
            margin-bottom: 24px;
            font-size: 18px;
        }

        &__subtitle {
            margin-bottom: 25px;
            font-weight: 500;
        }

        &__ul-item {
            margin-bottom: 20px;
        }

    }
}