@import '../../styles/breakpoints.scss';
@import '../../styles/reset.scss';
@import '../../styles/global.scss';


.main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 5px 20px 50px var(--color-gray);

    @media (min-width: $tablet) {
        top: 55%;
    }

    &__signup {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__login {
        height: 460px;
        background: var(--color-svg);
        border-radius: 60% / 10%;
        transform: translateY(-180px);
        transition: .8s ease-in-out;
    }

    &__signup-label {
        color: var(--color-dark-gray);
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin: 50px;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    &__login-label {
        color: var(--color-white);
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin: 50px;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        transform: scale(.6);
    }


    &__signup-inp,
    &__login-inp {
        width: 60%;
        height: 20px;
        background: #e0dede;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 5px;


        @media (min-width:$tablet) {
            padding: 18px 25px;
            height: none;
        }
    }


    &__login-btn,
    &__signup-btn {
        width: 60%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: var(--color-white);
        background: var(--color-light-brown);
        font-size: 1em;
        font-weight: bold;
        margin-top: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;

        &:hover {
            background: var(--color-dark-brown);
        }
    }

    @media (min-width:$tablet) {
        width: 400px;
        height: 550px;
    }
}

#chk {
    display: none;
}


#chk:checked~.main__login {
    transform: translateY(-520px);
}

#chk:checked~.main__login label {
    transform: scale(1);
}

#chk:checked~.main__signup label {
    transform: scale(.6);
}