@import '../../styles/breakpoints.scss';
@import '../../styles/reset.scss';
@import '../../styles/global.scss';

.bag {
    margin: 120px 0 0 0; // вместо margin-top
    width: 100%;

    &__title {
        text-align: center;
        margin-bottom: 20px;
        color: var(--color-dark-brown);
    }

    &__list {
        &-item {
            display: flex;
            flex-direction: row;
            gap: 20px;
            max-width: 450px;
            padding: 10px 20px;
            margin: 10px auto;
        }

        &-img {
            max-width: 200px;
            border-radius: 10px;
        }

        &-name {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            color: var(--color-dark-brown);
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
            color: var(--color-light-brown);
        }

        &-price {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
            color: var(--color-light-brown);
        }

        &-quantity {
            max-width: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: var(--color-dark-brown);
        }
    }

    &__minus,
    &__plus {
        border: none;
        border-radius: 10px;
        padding: 3px 10px;
        background-color: var(--color-light-gray);

        font-size: 18px;
        font-weight: 600;


        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
    }

    &__minus:focus,
    &__plus:focus {
        color: var(--color-white);
        background-color: var(--color-gray);
        transition: 0.3s;
    }

    &__btn {
        border: none;
        border-radius: 10px;
        padding: 3px 10px;
        background: none;

        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }

    }

    &__total {
        position: sticky;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        background-color: var(--color-svg);
        z-index: 8;

        &-text {
            color: var(--color-white);
        }

        &-btn {
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            background-color: var(--color-white);
            color: var(--color-dark-brown);
            font-size: 18px;
            font-weight: 600;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
    }



    @media (min-width: $tablet) {

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;


            &-img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }

            &-price {
                margin-bottom: 30px;
            }

        }

        &__total {
            position: relative;
            background: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: space-between;
            align-items: end;
            margin-right: 30px;


            &-text {
                color: var(--color-dark-brown);
            }

            &-btn {
                background-color: var(--color-light-brown);
                color: var(--color-white);
            }
        }
    }

    @media (min-width: $desktop) {
        &__list {
            max-width: 1040px;
            margin: 0 auto;
        }

    }
}