@import '../../styles/breakpoints.scss';
@import '../../styles/reset.scss';
@import '../../styles/global.scss';

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    margin: 120px auto 40px;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 40px;
    }

    &__div {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__inp {
        border: none;
        border-radius: 6px;
        background-color: var(--color-light-gray);
        padding: 10px 15px;
        min-width: 250px;

    }



    &__label {
        position: absolute;
        top: 8px;
        left: 10px;
        color: var(--color-dark-gray);
    }

    &__textarea {
        border: none;
        border-radius: 6px;
        background-color: var(--color-light-gray);
        padding: 15px 20px;
        min-height: 70px;
        margin-bottom: 30px;
    }

    &__top {
        top: -15px;
        left: 10px;
        transition: 0.3s;
        background-color: var(--color-light-gray);
        border-radius: 10px;
        font-size: 12px;
        padding: 5px;
    }


    &__btn {
        width: 100%;
        font-size: 16px;
        background-color: var(--color-black);
        color: var(--color-white);
        border: none;
        border-radius: 6px;
        padding: 12px 15px;
    }

    @media (min-width: $desktop) {
        &__container {
            max-width: 500px;
        }

        &__title {
            font-size: 30px;
        }

        &__inp {
            padding: 20px 25px;
            margin-bottom: 20px;
            min-width: 450px;
        }

        &__text {
            font-size: 16px;
            margin-top: 20px;
        }

        &__label {
            font-size: 20px;
            top: 15px;
        }

        &__top {
            top: -20px !important;
        }

        &__btn {
            font-size: 20px;
            padding: 16px 22px;
        }

        &__textarea {
            min-height: 100px;
            padding: 20px 25px;
        }
    }
}